.App {
  text-align: center;
}
.pagination_content{
background-color: #c5dfe7;
height: 100vh;
}
.App h3{
  margin: 0 20px 0;
  padding-top:10px ;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page_table{
  border: 1px solid black;
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}
.page_table th , .page_table td{
 border: none;
 padding: 8px;
}
.table_head_row{
background-color: rgb(47, 146, 100);
color: white;
}
.button_group{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns{
  margin: 5px;
  background-color: rgb(47, 146, 100);
color: white;
padding: 5px 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}